In [2]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn import model_selection
from sklearn import metrics
from sklearn.metrics import confusion_matrix
from sklearn.metrics import accuracy_score, classification_report, plot_confusion_matrix
from sklearn.pipeline import make_pipeline
from sklearn.preprocessing import StandardScaler
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn import datasets
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import classification_report, confusion_matrix
from sklearn.naive_bayes import GaussianNB
from sklearn.model_selection import GridSearchCV
from sklearn.svm import SVC
from sklearn.pipeline import make_pipeline
from sklearn.preprocessing import StandardScaler
from scipy.sparse import csr_matrix

In [3]:
train = pd.read_csv('train11.csv')

In [4]:
test = pd.read_csv('test11.csv')

In [5]:
df = pd.read_csv('train1.csv')

In [6]:
df2 = pd.read_csv('test1.csv')

In [7]:
sparse_dataset = train

In [8]:
X = sparse_dataset
y = df['next_game']

In [9]:
model = RandomForestClassifier(max_depth= 50, min_samples_leaf=50,n_estimators= 100,n_jobs=-1)

In [10]:
#model = LogisticRegression(C=0.15, max_iter=200, n_jobs=-1)

In [11]:
modelfit = model.fit(X, y)

In [12]:
y_pred = model.predict(X)

In [13]:
print("Accuracy:",metrics.accuracy_score(y, y_pred))

Accuracy: 0.1553877337517981

In [14]:
prob = modelfit.predict_proba(X)

In [15]:
top5 = np.argsort(prob, axis = 1)[:, -5:]

In [16]:
topclass = modelfit.classes_[top5]

In [17]:
top5df = pd.DataFrame(topclass)

In [18]:
y_pred = model.predict(test) #model or modelfit

In [19]:
prob = modelfit.predict_proba(test)

In [20]:
top5 = np.argsort(prob, axis = 1)[:, -5:]

In [21]:
topclass = modelfit.classes_[top5]

In [22]:
top5df = pd.DataFrame(topclass)

In [23]:
top5df.to_csv('r1.csv', index=False)

in this step, I splitted the values by the help of excel...

In [24]:
uploaded = pd.read_csv('r1.csv')

In [25]:
uploaded.insert(column = 'id', value = df2.id, loc = 0)

In [26]:
uploaded["next_games"]= uploaded["next_games"].map(str)

In [27]:
uploaded

          id      next_games
0          5    61 8 49 26 4
1         13    17 4 5 15 45
2         20     3 49 8 2 17
3         25   6 61 45 23 18
4         32   22 48 2 12 11
...      ...             ...
13068  91410   36 22 12 2 26
13069  91411  36 6 14 123 45
13070  91419    3 15 30 4 25
13071  91421     4 3 15 11 1
13072  91423    11 2 36 12 1

[13073 rows x 2 columns]

In [28]:
uploaded.to_csv('prediction.csv', index=False)